## Question 1 
Consider the following Python module: 
 
a = 0 <br>
 
def b(): <br>
    global a <br>
    a = c(a) <br>
 
def c(a): <br>
    return a + 2 <br> 
 
After importing the module into the interpreter, you execute: 
 
>>> b() <br>
>>> b() <br>
>>> b() <br>
>>> a <br>
? 
 
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [19]:
a=0
def b():
    global a
    a=c(a)
    print(a)

def c(a):
    return a+2

In [20]:
b()

2

In [21]:
b()

4

In [22]:
b()

6

In [23]:
a

6

Let's break down the given code step by step:

1. `a = 0`: This line initializes a global variable named `a` and sets it to the value of 0.

2. `def b():`: This defines a function called `b`.

3. `global a`: Inside the `b` function, the `global` keyword is used to indicate that the function intends to modify the global variable `a`.

4. `a = c(a)`: Inside the `b` function, this line invokes the function `c` with the current value of `a` (initially 0) as an argument, and assigns the result of `c(a)` to the global variable `a`.

5. `def c(a):`: This defines a function named `c` that takes a parameter `a`.

6. `return a + 2`: Inside the `c` function, it takes the input `a`, adds 2 to it, and returns the resulting value.

Upon executing the provided commands, the following conclusions can be drawn:

1. `b()`: The `b` function is called, which in turn calls the `c` function with the current value of `a` (0), adds 2 to it, and assigns the resulting value (2) back to the global variable `a`. Hence, we can see the output as 2 in above run code.

2. `b()`: Again, the `b` function is invoked, leading to a call to the `c` function with the current value of `a` (2), adds 2 to it, and assigns the new result (4) to the global variable `a` which can also be seen in above run code.

3. `b()`: Once more, the `b` function is called, which invokes the `c` function with the current value of `a` (4), adds 2 to it, and assigns the updated result (6) to the global variable `a` which can also be seen in above run code.

Now, when you evaluate `a`, it will display the current value of the global variable `a`, which is 6. So, executing `a` will yield the value `6`. Hence, the value of a will be 6 which concludes that the more you are going to call function b() it is going to increase the value by 2 which makes a as a counter being increased by 2 everytime function b() is called.

## Question 2  
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file.

>>> fileLength('midterm.py') <br>
284 <br>
>>> fileLength('idterm.py') <br>
Traceback (most recent call last): <br> 
  File "<pyshell#34>", line 1, in <module> <br> 
    fileLength('idterm.py') <br>
  File "/Users/me/midterm.py", line 3, in fileLength <br> 
    infile = open(filename) <br>
FileNotFoundError: [Errno 2] No such file or directory: <br>
'idterm.py' <br>

As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead: 
 
>>> fileLength('midterm.py') <br>
358 <br>
>>> fileLength('idterm.py') <br>
File idterm.py not found. <br>

In [27]:
def file_length(file_name):
    try:
        with open(file_name, 'r') as file:
            content_of_file = file.read()
            length_of_file = len(content_of_file)
            print(length_of_file)
    except FileNotFoundError:
        print(f"File {file_name} not found.")
    except Exception as e:
        print(f"An error occurred: {str(e)}")

file_length('Filelength.txt')
file_length('Filelength1.txt')

123
File Filelength1.txt not found.

## Question 3 
Write a class named Marsupial that can be used as shown below: 
 
>>> m = Marsupial() <br>
>>> m.put_in_pouch('doll') <br> 
>>> m.put_in_pouch('firetruck') <br> 
>>> m.put_in_pouch('kitten') <br>
>>> m.pouch_contents() <br>
['doll', 'firetruck', 'kitten'] <br> 

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also: <br>
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object, <br> 
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the y-
axis, and <br>
c. overloads the __str__ operator so it behaves as shown below. 
 
>>> k = Kangaroo(0,0) <br>
>>> print(k) <br>
I am a Kangaroo located at coordinates (0,0) <br> 
>>> k.put_in_pouch('doll') <br>
>>> k.put_in_pouch('firetruck') <br> 
>>> k.put_in_pouch('kitten') <br>
>>> k.pouch_contents() <br>
['doll', 'firetruck', 'kitten'] <br> 
>>> k.jump(1,0) <br>
>>> k.jump(1,0) <br>
>>> k.jump(1,0) <br>
>>> print(k) <br>
I am a Kangaroo located at coordinates (3,0)

In [1]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

# Example usage:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4 
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence: 
  
x = {  𝑥/2                    𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 <br>
3𝑥+1               𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑  
 
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops. 
 

>>> collatz(1) <br>
1 <br>
>>> collatz(10) <br>
10 <br>
5 <br>
16 <br>
8 <br>
4 <br>
2 <br>
1

In [11]:
def collatz(x):
    if x == 1:
        return x
    else:
        print(x)
        if (x % 2 == 0):
            return collatz(x//2)
        else:
            return collatz(3*x+1)

In [13]:
collatz(1)

1

In [12]:
collatz(10)

10
5
16
8
4
2

1

## Question 5 
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. 
 
>>> binary(0) <br>
0 <br>
>>> binary(1) <br> 
1 <br>
>>> binary(3) <br> 
11 <br>
>>> binary(9) <br> 
1001

In [4]:
# function to convert given integer value to binary

def binary(n):
    if n > 1:  #  base condition
        binary(n // 2)
    print(n % 2, end='')

In [5]:
binary(0)

0

In [6]:
binary(1)

1

In [7]:
binary(3)

11

In [8]:
binary(9)

1001

## Question 6

Write SQL queries on the below database table that return: 

a) All the temperature data. <br>
b) All the cities, but without repetition.<br> 
c) All the records for India. <br>
d) All the Fall records.<br>
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters. <br>
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order. <br> 
g) The total annual rainfall for Cairo. <br>
h) The total rainfall for each season.

In [3]:
import sqlite3

# Create a connection to the SQLite database (or create one if it doesn't exist)
conn = sqlite3.connect('Biplove_Jaisi_Climate_Database.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS WeatherData")

# Define the SQL CREATE TABLE statement to create the table
table = """CREATE TABLE WeatherData (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
);"""

cursor.execute(table)

# Define the SQL INSERT statement
weather_data = """
INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall)
VALUES
  ('Mumbai', 'India', 'Winter', 24.8, 5.9),
  ('Mumbai', 'India', 'Spring', 28.4, 16.2),
  ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
  ('Mumbai', 'India', 'Fall', 27.6, 346.0),
  ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
  ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
  ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
  ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
  ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
  ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
  ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
  ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);
"""

# Execute the INSERT statement
cursor.executescript(weather_data)

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

In [7]:
# Create a connection to the SQLite database
conn = sqlite3.connect('Biplove_Jaisi_Climate_Database.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

cursor.execute("""Select * from WeatherData """)

rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [27]:
# Create a connection to the SQLite database
conn = sqlite3.connect('Biplove_Jaisi_Climate_Database.db')

# Create a cursor object to interact with the database
cursor_a = conn.cursor()
cursor_b = conn.cursor()
cursor_c = conn.cursor()
cursor_d = conn.cursor()
cursor_e = conn.cursor()
cursor_f = conn.cursor()
cursor_g = conn.cursor()
cursor_h = conn.cursor()


cursor_a.execute("""Select Temperature 
                    FROM WeatherData
                 """)

cursor_b.execute("""SELECT DISTINCT City 
                    FROM WeatherData
                 """)

cursor_c.execute("""SELECT * 
                    FROM WeatherData 
                    WHERE Country = 'India'
                 """)

cursor_d.execute("""SELECT *  
                    FROM WeatherData 
                    WHERE Season = 'Fall'
                 """)


cursor_e.execute("""SELECT City 
                          ,Country 
                          ,Season 
                    FROM WeatherData
                    GROUP BY City, Country, Season 
                    HAVING AVG(Rainfall) BETWEEN 200 AND 400
                 """)

cursor_f.execute("""SELECT City
                          ,Country
                    FROM WeatherData
                    WHERE Season = 'Fall'
                    GROUP BY City, Country
                    HAVING AVG(Temperature) > 20
                    ORDER BY AVG(Temperature) ASC
                 """)

cursor_g.execute("""SELECT SUM(Rainfall) AS TotalRainfall
                    FROM WeatherData
                    WHERE City = 'Cairo'
                 """)

cursor_h.execute("""SELECT Season, SUM(Rainfall) AS TotalRainfall
                    FROM WeatherData
                    GROUP BY Season
                """)


rows_a = cursor_a.fetchall()
rows_b = cursor_b.fetchall()
rows_c = cursor_c.fetchall()
rows_d = cursor_d.fetchall()
rows_e = cursor_e.fetchall()
rows_f = cursor_f.fetchall()
rows_g = cursor_g.fetchall()
rows_h = cursor_h.fetchall()

conn.close()

In [28]:
print("a. All the temperature data.\n")
for row in rows_a:
    print(row)

a. All the temperature data.

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [44]:
print("b. All the cities, but without repetition.\n")
for row in rows_b:
    print(row)

b. All the cities, but without repetition.

('Mumbai',)
('London',)
('Cairo',)

In [45]:
print("c. All the records for India.\n")
for row in rows_c:
    print(row)

c. All the records for India.

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [46]:
print("d. All the Fall records.\n")
for row in rows_d:
    print(row)

d. All the Fall records.

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [47]:
print("e. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.\n")
for row in rows_e:
    print(row)

e. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [48]:
print("f. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order\n")
for row in rows_f:
    print(row)

f. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

('Cairo', 'Egypt')
('Mumbai', 'India')

In [49]:
print("g. The total annual rainfall for Cairo\n")
for row in rows_g:
    print(row)

g. The total annual rainfall for Cairo

(27.6,)

In [50]:
print("h. The total rainfall for each season.\n")
for row in rows_h:
    print(row)

h. The total rainfall for each season.

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

## Question 9

Suppose list words is defined as follows: <br>
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] <br><br>
Write list comprehension expressions that use list words and generate the following lists: <br><br> 
a)  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG'] <br><br>
b)  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] <br><br>
c)  [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words). <br><br>
d)  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE','the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.) <br><br>
e)  ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [51]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [55]:
uppercase_words = [word.upper() for word in words]
print(f"a. {uppercase_words}")

a. ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [56]:
lowercase_words = [word.lower() for word in words]
print(f"b. {lowercase_words}")

b. ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [57]:
word_lengths = [len(word) for word in words]
print(f"c. {word_lengths}")

c. [3, 5, 5, 3, 5, 4, 3, 4, 3]

In [58]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(f"d. {word_info}")

d. [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [59]:
long_words = [word for word in words if len(word) >= 4]
print(f"e. {long_words}")

e. ['quick', 'brown', 'jumps', 'over', 'lazy']